body header {
  width: 100%; }
  body header .hamburger {
    /*
     * And let's slide it in from the left
     */ }
    body header .hamburger a {
      text-decoration: none;
      color: #232323;
      transition: color 0.3s ease; }
      body header .hamburger a:hover {
        color: tomato; }
    body header .hamburger #menuToggle {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
      body header .hamburger #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none; }
      body header .hamburger #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
        body header .hamburger #menuToggle span:first-child {
          transform-origin: 0% 0%; }
        body header .hamburger #menuToggle span:nth-last-child(2) {
          transform-origin: 0% 100%; }
      body header .hamburger #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323; }
        body header .hamburger #menuToggle input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2); }
        body header .hamburger #menuToggle input:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px); }
    body header .hamburger #menu {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      body header .hamburger #menu li {
        padding: 10px 0;
        font-size: 22px; }
    body header .hamburger #menuToggle input:checked ~ ul {
      transform: none; }
  body header .upper {
    display: flex;
    margin-top: 0;
    width: 100%;
    background-color: #f6f6f6;
    height: 45px; }
    body header .upper .right {
      float: right; }
    body header .upper .mess {
      display: inline-block;
      padding: 14px 0px; }
      body header .upper .mess p {
        color: #919191;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 600;
        margin: 0; }
        body header .upper .mess p #lg {
          color: #ff9500; }
        body header .upper .mess p #reg {
          color: #23aaff; }
        body header .upper .mess p .underlinetxt {
          text-decoration: underline; }
        body header .upper .mess p .sao {
          margin: 0 10px; }
  body header .bot {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0; }
    body header .bot .logo {
      margin: 25px 0px 0px 0px;
      width: 137px;
      height: 46px;
      background-image: url("../images/images/logo_03.jpg"); }
    body header .bot .fillup {
      flex-grow: 1; }
    body header .bot .navbar {
      padding: 0;
      margin: 0; }
      body header .bot .navbar ul {
        padding: 0;
        margin: 0; }
        body header .bot .navbar ul li {
          padding: 0;
          margin: 0;
          list-style-type: none; }
          body header .bot .navbar ul li a {
            font-weight: 600;
            font-family: 'Oswald';
            text-decoration: none;
            color: #333333;
            font-size: 14px;
            margin: 0px 30px 0px 0px; }
    body header .bot .searchbtn {
      width: 28px;
      height: 28px;
      background-image: url("../images/searchbtn_03.png");
      margin: 36px 30px 36px 0px; }
    body header .bot .call {
      width: 247px;
      height: 100px;
      background-image: url("../images/freecall_03.jpg"); }
  @media only screen and (max-width: 1200px) {
    body header .bot {
      flex-flow: wrap; } }
@media only screen and (max-width: 768px) {
  body header .upper, body header .bot {
    display: none; } }
@media only screen and (min-width: 769px) {
  body header .hamburger {
    display: none; } }
body .brimage {
  width: 100%;
  height: 300px;
  background-image: url("../images/brimage_02.jpg"); }
  body .brimage .ourblog {
    position: relative; }
    body .brimage .ourblog .orblg {
      position: absolute;
      top: 180px; }
      body .brimage .ourblog .orblg .tittle {
        font-family: 'Oswald';
        font-weight: bold;
        font-size: 40px;
        color: #f6f6f6; }
      body .brimage .ourblog .orblg .pages {
        font-family: Roboto;
        font-size: 14px;
        color: #f6f6f6; }
      body .brimage .ourblog .orblg .dau {
        margin: 0 10px; }
body .content {
  padding: 0px;
  width: 1200px; }
  body .content .headthum {
    margin-bottom: 50px; }
    body .content .headthum .lgthum {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 100px;
      height: 400px; }
      body .content .headthum .lgthum .event {
        margin: 0px 25px 10px 25px; }
        body .content .headthum .lgthum .event span {
          text-transform: uppercase;
          color: #ffffff;
          font-family: 'Roboto';
          padding: 6px 10px;
          background-color: #23aaff;
          font-size: 10px; }
      body .content .headthum .lgthum .tit {
        margin: 0px 25px 10px 25px;
        padding: 0px;
        font-family: 'Oswald';
        font-weight: bold;
        color: #ffffff;
        font-size: 22px; }
      body .content .headthum .lgthum .decr {
        margin: 0px 25px 10px 25px;
        font-family: Roboto;
        color: #d3d3d2;
        font-size: 16px; }
      body .content .headthum .lgthum .timezone {
        margin: 0px 25px;
        display: flex;
        flex-direction: row; }
        body .content .headthum .lgthum .timezone .time {
          margin-right: 30px;
          display: flex;
          flex-direction: row; }
          body .content .headthum .lgthum .timezone .time img {
            width: 13px;
            height: 13px; }
          body .content .headthum .lgthum .timezone .time p {
            margin-left: 10px;
            color: #aaaaaa;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px; }
    body .content .headthum .ferari {
      background-image: url("../images/pic1_03.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    body .content .headthum .nissan {
      background-image: url("../images/pic3_05.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100% s; }
  body .content .row {
    display: flex;
    justify-content: space-between; }
    body .content .row .col-lg-8 {
      display: flex; }
      body .content .row .col-lg-8 .subthum {
        width: 50%;
        margin-right: 30px; }
        body .content .row .col-lg-8 .subthum .item {
          margin: 50px 0px 0px 0px;
          padding: 0; }
          body .content .row .col-lg-8 .subthum .item .tittle2 {
            margin-top: 20px;
            font-family: 'Oswald';
            font-size: 20px;
            color: #222222; }
          body .content .row .col-lg-8 .subthum .item .timezonee2 {
            display: flex;
            flex-direction: row; }
            body .content .row .col-lg-8 .subthum .item .timezonee2 img {
              width: 13px;
              height: 13px; }
            body .content .row .col-lg-8 .subthum .item .timezonee2 .time2 {
              margin-right: 30px;
              display: flex;
              flex-direction: row; }
              body .content .row .col-lg-8 .subthum .item .timezonee2 .time2 p {
                margin-left: 10px;
                color: #aaaaaa;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 500;
                line-height: 15px; }
          body .content .row .col-lg-8 .subthum .item .derc2 {
            font-family: Roboto;
            font-size: 16px;
            color: #797979; }
          body .content .row .col-lg-8 .subthum .item .ctn {
            margin: 25px 0px; }
            body .content .row .col-lg-8 .subthum .item .ctn a {
              color: #23aaff;
              text-decoration: underline;
              font-family: Roboto;
              font-weight: 700;
              font-size: 16px; }
    @media only screen and (max-width: 1024px) {
      body .content .row .col-lg-8 {
        flex-direction: column; }
        body .content .row .col-lg-8 .subthum {
          width: 100%; } }
  body .content .pagination {
    margin-top: 40px; }
    body .content .pagination div {
      line-height: 50px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 22px;
      margin-right: 20px; }
    body .content .pagination span {
      display: flex;
      justify-content: center;
      margin-right: 20px;
      line-height: 50px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 22px; }
      body .content .pagination span:first-child:hover {
        border: 1px solid #dddddd;
        background-color: #ffffff; }
      body .content .pagination span:last-child:hover {
        border: 1px solid #dddddd;
        background-color: #ffffff; }
      body .content .pagination span:hover {
        background-color: #f7dc23;
        padding: 0px 20px; }
      body .content .pagination span:first-child, body .content .pagination span:last-child {
        font-weight: 400;
        font-size: 22px; }
  body .content .sidebar {
    margin: 50px 0px 0px 0px; }
    body .content .sidebar .searchbar {
      border: 1px solid #e1e1e1;
      width: 100%;
      background-color: #f7f7f7; }
      body .content .sidebar .searchbar input {
        border-style: none;
        border: none;
        margin: 5px 20px 5px 20px;
        font-family: Roboto;
        font-size: 16px;
        width: 70%;
        background-color: #f7f7f7; }
    body .content .sidebar .category {
      margin-bottom: 37px; }
      body .content .sidebar .category p {
        color: #333333;
        font-family: 'Oswald';
        font-size: 16px;
        font-weight: bold;
        margin: 50px 0px 30px 0px; }
      body .content .sidebar .category ul {
        list-style-type: square;
        padding-left: 17px; }
        body .content .sidebar .category ul li {
          height: 44px;
          border-bottom: 1px dotted #999999; }
          body .content .sidebar .category ul li a {
            line-height: 44px;
            font-family: Roboto;
            color: #333333;
            text-decoration: none;
            font-size: 16px; }
            body .content .sidebar .category ul li a span {
              color: #999999;
              margin-left: 10px; }
    body .content .sidebar .newest .newtit {
      color: #333333;
      font-family: 'Oswald';
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 35px; }
    body .content .sidebar .newest .newitem {
      margin-top: 30px;
      display: flex;
      flex-direction: row; }
      body .content .sidebar .newest .newitem img {
        width: 100px;
        height: 90px; }
      body .content .sidebar .newest .newitem .info {
        padding: 0px 0px 0px 20px;
        font-family: Roboto; }
        body .content .sidebar .newest .newitem .info .qoute {
          font-size: 16px;
          color: #333333; }
        body .content .sidebar .newest .newitem .info .date {
          margin-top: 20px;
          font-size: 12px;
          color: #aaaaaa; }
    body .content .sidebar .archive {
      margin-top: 50px; }
      body .content .sidebar .archive p {
        color: #333333;
        font-family: 'Oswald';
        font-size: 16px;
        font-weight: bold; }
      body .content .sidebar .archive ul {
        list-style-type: disc;
        padding-left: 17px; }
        body .content .sidebar .archive ul li {
          height: 44px;
          border-bottom: 1px dotted #999999; }
          body .content .sidebar .archive ul li a {
            line-height: 44px;
            font-family: Roboto;
            color: #333333;
            text-decoration: none;
            font-size: 16px; }
            body .content .sidebar .archive ul li a span {
              color: #999999;
              margin-left: 10px; }
    body .content .sidebar .spaFad {
      margin-top: 40px; }
    body .content .sidebar .tag p {
      color: #333333;
      font-family: 'Oswald';
      font-size: 16px;
      font-weight: bold;
      margin: 50px 0px 30px 0px; }
    body .content .sidebar .tag .tagitems {
      display: flex;
      flex-flow: wrap; }
      body .content .sidebar .tag .tagitems .makeTag {
        margin: 10px;
        position: relative; }
        body .content .sidebar .tag .tagitems .makeTag .line1 {
          position: absolute;
          width: 16px;
          border-top: 1px solid #e3e3e3;
          transform: rotate(115deg);
          top: 5px;
          left: -11px; }
        body .content .sidebar .tag .tagitems .makeTag .line2 {
          position: absolute;
          width: 16px;
          border-top: 1px solid #e3e3e3;
          transform: rotate(-115deg);
          bottom: 4px;
          left: -11px; }
        body .content .sidebar .tag .tagitems .makeTag .tagBorder {
          font-family: Roboto;
          font-size: 14px;
          height: 30px;
          margin: 0px;
          color: #999999;
          padding: 5px 20px;
          border: 1px solid #e3e3e3;
          border-left: none;
          position: relative; }
          body .content .sidebar .tag .tagitems .makeTag .tagBorder::before {
            content: '';
            width: 6px;
            height: 6px;
            border: 1px solid #e3e3e3;
            left: 5px;
            top: 11px;
            border-radius: 50%;
            position: absolute; }
    body .content .sidebar .flickr p {
      color: #333333;
      font-family: 'Oswald';
      font-size: 16px;
      font-weight: bold;
      margin: 40px 0px 30px 0px; }
    body .content .sidebar .flickr .flicimg {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: space-between; }
      body .content .sidebar .flickr .flicimg img {
        margin-bottom: 10px; }
body footer {
  margin-top: 120px; }
  body footer .background {
    padding: 0px;
    background-color: #1d2a49; }
    body footer .background .footercontain {
      padding: 0px;
      background-image: url("../images/pixel_map.png");
      background-size: 35% 50%;
      background-repeat: no-repeat;
      background-position: 0px 130px; }
      body footer .background .footercontain .col-lg-3 {
        margin-top: 80px;
        display: flex;
        flex-direction: column; }
        body footer .background .footercontain .col-lg-3:first-child {
          position: relative; }
        body footer .background .footercontain .col-lg-3 .autusblock {
          position: absolute;
          top: -15px;
          margin-bottom: 30px; }
        body footer .background .footercontain .col-lg-3 p {
          color: #ffffff;
          font-family: 'Oswald';
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 40px; }
        body footer .background .footercontain .col-lg-3 .text {
          color: #989ba6;
          font-size: 16px;
          font-family: Roboto;
          font-weight: 300;
          margin: 62px 0px 60px 0px; }
          body footer .background .footercontain .col-lg-3 .text span {
            color: #22a3f5;
            text-decoration: underline;
            cursor: pointer; }
        body footer .background .footercontain .col-lg-3 .media {
          display: flex;
          flex-direction: column; }
          body footer .background .footercontain .col-lg-3 .media p {
            color: #ffffff;
            font-family: 'Oswald';
            font-size: 16px;
            font-weight: bold; }
          body footer .background .footercontain .col-lg-3 .media .mediablock img {
            margin-right: 15px; }
        body footer .background .footercontain .col-lg-3 .contactline {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row; }
          body footer .background .footercontain .col-lg-3 .contactline:last-child .contactinfo {
            color: #22a3f5;
            cursor: pointer; }
          body footer .background .footercontain .col-lg-3 .contactline:last-child {
            color: #22a3f5;
            cursor: pointer; }
          body footer .background .footercontain .col-lg-3 .contactline .contactinfo {
            margin-left: 15px;
            color: #989ba6;
            font-size: 16px;
            font-family: Roboto; }
        body footer .background .footercontain .col-lg-3 .infoblock {
          margin-top: 30px;
          display: flex;
          flex-direction: row;
          padding-top: 20px;
          border-top: 1px solid #34405c; }
          body footer .background .footercontain .col-lg-3 .infoblock .infoline {
            margin-left: 15px;
            color: #ffffff;
            font-size: 16px;
            font-family: Roboto; }
            body footer .background .footercontain .col-lg-3 .infoblock .infoline span {
              color: #f7dc23;
              text-decoration: underline; }
        body footer .background .footercontain .col-lg-3 .workingday {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-top: 1px dashed #34405c;
          font-size: 16px;
          font-family: Roboto;
          color: #989ba6;
          padding: 10px 0px; }
        body footer .background .footercontain .col-lg-3 .emailform {
          display: flex;
          flex-direction: row; }
          body footer .background .footercontain .col-lg-3 .emailform input {
            width: 80%;
            height: 50px;
            color: #a9a9a9;
            line-height: 50px;
            font-family: Roboto;
            font-size: 16px;
            padding-left: 20px; }
          body footer .background .footercontain .col-lg-3 .emailform .wave {
            background-color: #f7dc23;
            padding: 13px 20px; }
        body footer .background .footercontain .col-lg-3 .getlastest {
          color: #858996;
          font-family: Roboto;
          padding: 15px 0px 30px 0px;
          border-bottom: 1px solid #34405c; }
        body footer .background .footercontain .col-lg-3 .lasimg {
          margin-top: 35px;
          display: flex;
          justify-content: space-around; }
    body footer .background .copyright {
      margin-top: 85px;
      background-color: #1a2642; }
      body footer .background .copyright .last {
        padding: 0;
        display: flex;
        justify-content: space-between;
        line-height: 80px;
        height: 80px;
        color: #9295a1; }
        body footer .background .copyright .last .rightcopy {
          font-family: 'Oswald';
          font-size: 16px; }
          body footer .background .copyright .last .rightcopy span {
            margin-left: 40px; }
        body footer .background .copyright .last .leftcopy {
          font-size: 14px; }
          body footer .background .copyright .last .leftcopy a {
            color: #ffffff;
            text-decoration: none; }

/* roboto-condensed-regular - latin */
@font-face {
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.woff2") format("woff2"), url("../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.woff") format("woff"), url("../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.ttf") format("truetype"), url("../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */ }
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/oswald-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-v17-latin-regular.woff2") format("woff2"), url("../fonts/oswald-v17-latin-regular.woff") format("woff"), url("../fonts/oswald-v17-latin-regular.ttf") format("truetype"), url("../fonts/oswald-v17-latin-regular.svg#Oswald") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'AirMillhouseItalic';
  font-style: normal;
  src: url("../fonts/air_mitalic.ttf") format("truetype"); }
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v19-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v19-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v19-latin-regular.woff") format("woff"), url("../fonts/roboto-v19-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v19-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/*# sourceMappingURL=style.css.map */
