@import "mixin";
body{
    header{
        
        width: 100%;
        .upper{
            display: flex;
            margin-top: 0;
            width: 100%;
            background-color: #f6f6f6;
            height: 45px;
            .right{
                float: right;
            }
            .mess{    
                display: inline-block;
          
                padding: 14px 0px;
                p{
                    color: #919191;
                    font-family: Roboto;
                    font-size: 13px;
                    font-weight: 600;
                    margin: 0;
                    #lg{
                        color: #ff9500;
                    }
                    #reg{
                        color: #23aaff;
                    }
                    .underlinetxt{
                        text-decoration: underline;
                    }
                    .sao{
                        margin: 0 10px;
                    }
                }
            }
        }

        .bot{
            padding: 0px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0;
            .logo{
                
                margin:25px 0px 0px 0px;
                width: 137px;
                height: 46px;
                background-image: url('../images/images/logo_03.jpg');
            }
            .fillup{
                flex-grow: 1;
    
            }
            .navbar{

                padding: 0;
                margin: 0;
                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        a{
                            font-weight: 600;
                            font-family: 'Oswald';
                            text-decoration: none;
                            color: #333333;
                            font-size: 14px;
                            margin: 0px 30px 0px 0px;
                        }
                    }
                }
            }
            .searchbtn{
                width: 28px;
                height: 28px;
                background-image: url('../images/searchbtn_03.png');
                margin: 36px 30px 36px 0px;
            }
            .call{
                
                width: 247px;
                height: 100px;
                background-image: url('../images/freecall_03.jpg');
            }
        }

    }
    .brimage{
        width: 100%;
        height: 300px;
        background-image: url("../images/brimage_02.jpg");
        .ourblog{
            position: relative;
            .orblg{
                position: absolute;
                top: 180px;
                .tittle{
                    font-family: 'Oswald';
                    font-weight: bold;
                    font-size: 40px;
                    color: #f6f6f6; 
                }
                .pages{
                    font-family: Roboto;
            
                    font-size: 14px;
                    color: #f6f6f6;
                }
                .dau{
                    margin: 0 10px;
                }

            }

        }

        
    }
    .content{
        padding: 0px;
        width: 1200px;
        .headthum{
            margin-bottom: 50px;
            .lgthum{  
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-top: 100px;
              
                height: 400px;
                .event{
                    margin: 0px 25px 10px 25px;
                    span{
                        text-transform: uppercase;
                        color:#ffffff;
                        font-family: 'Roboto';
                        padding: 6px 10px;
                        background-color: #23aaff;
                        font-size: 10px;
                    }
                }
                .tit{
                    margin: 0px 25px 10px 25px;
                    padding: 0px;
                    font-family: 'Oswald';
                    font-weight: bold;
                    color: #ffffff;
                    font-size: 22px;
                }
                .decr{
                 
                    margin: 0px 25px 10px 25px;
                    font-family: Roboto; 
                    color:#d3d3d2;
                    font-size: 16px;
                }
                .timezone{
                    margin: 0px 25px;
                    display: flex;
                    flex-direction: row;
                    .time{
                        margin-right: 30px; 
                        display: flex;
                        flex-direction: row;
                        img{
                            width: 13px;
                            height: 13px;
                            
                        }
                        p{
                            margin-left: 10px;
                            color: #aaaaaa;
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 15px;
                        }
                    } 
                }

            }
            .ferari{
                background-image: url('../images/pic1_03.jpg');


            }
            .nissan{
                background-image: url('../images/pic3_05.jpg');
            }
        }
        .row{
            display: flex;
            justify-content: space-between;
            .col-lg-8{
                display: flex;
 
                .subthum{  
                    width: 50%;   
                        margin-right: 30px;     
                    .item{
                        margin: 50px 0px 0px 0px;
                        padding: 0;
                        .tittle2{
                            margin-top: 20px;
                            font-family: 'Oswald';
                            font-size: 20px;
                            color: #222222;
                        }
                        .timezonee2{
                            display: flex;
                            flex-direction: row;
                            img{
                                width: 13px;
                                height: 13px;
                                
                            }
                            .time2{
                                margin-right: 30px;
                                display: flex;
                                flex-direction: row;
                                p{
                                    margin-left: 10px;
                                    color: #aaaaaa;
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 15px;
                                }
                            }
        
                            
                        }
                        .derc2{
                            font-family: Roboto;
                            font-size: 16px;
                            color: #797979;
        
                        }
                        .ctn{
                            margin: 25px 0px;
                            a{
                                color: #23aaff;
                                text-decoration: underline;
                                font-family: Roboto;
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }
                    }
        
                }
            }
            
        }
        //=============================================== sizebar===========================
        .sidebar{
            
            margin: 50px 0px 0px 0px;
            .searchbar{
                border: 1px solid #e1e1e1;
                width: 100%;
                background-color: #f7f7f7;
                input{
                    border-style: none;
                    border: none;
                    margin: 5px 20px 5px 20px;
                    font-family: Roboto;
                    font-size: 16px;
                    width: 70%;
                    background-color: #f7f7f7;
                }
        
            }
            
            .category{
                margin-bottom: 37px;
                p{
                    @include sbarTitStyle;
                    margin: 50px 0px 30px 0px;

                }
                ul{
                    list-style-type: square;
                    @include newestUl;
                }

            }
            .newest{
                .newtit{
                    @include sbarTitStyle;
                    margin-bottom: 35px;
                }
                .newitem{
                    margin-top: 30px;
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 100px;
                        height: 90px;
                    }
                    .info{
                        
                        padding: 0px 0px 0px 20px;
                        font-family: Roboto;
                        .qoute{
                            
                            font-size: 16px;
                            color: #333333;
                        }
                        .date{
                            margin-top: 20px;
                            font-size: 12px;
                            color: #aaaaaa;
                        }
                    }
                }
                
            }
            .archive{
                margin-top: 50px;
                p{
                    @include sbarTitStyle;
                }
                ul{
                    list-style-type: disc;
                    
                    @include newestUl;
                }
            }
            .spaFad{
                margin-top: 40px;
            }
            .tag{
                p{
                    @include sbarTitStyle;
                    margin: 50px 0px 30px 0px;
                }
                .tagitems{
                    display: flex;
                    flex-flow: wrap;
                    .makeTag{

                        margin: 10px;
                        position: relative;
                        .line1{
                            position: absolute;
                            width: 16px;
                            border-top: 1px solid #e3e3e3;
                            transform: rotate(115deg);
                            top:5px;
                            left: -11px;
                        }
                        .line2{
                            
                            position: absolute;
                            width: 16px;
                            border-top: 1px solid #e3e3e3;
                            transform: rotate(-115deg);
                            bottom: 4px;
                            left: -11px;
                        }
                        .tagBorder
                        {
                            font-family: Roboto;
                            font-size: 14px;
                            height: 30px;
                            margin: 0px;
                            color: #999999;

                            padding: 5px 20px;
                            border: 1px solid #e3e3e3;
                            border-left: none;
                            position: relative;
                            &::before{
                                
                                content: '';
                                width: 6px;
                                height: 6px;
                                border: 1px solid #e3e3e3;
                                left: 5px;
                                top:11px;
                                border-radius: 50%;
                                position: absolute;                 
                            }
    
                        }
                    }

                }
 
            }
            .flickr{
                
                p{
                    @include sbarTitStyle;
                    margin: 40px 0px 30px 0px;
                }
                .flicimg{
                    display: flex;
                    flex-direction: row;
                    flex-flow: wrap;
                    justify-content: space-between;
                    img{
                        margin-bottom: 10px;
                    }
                }
            }

        }
    }

}

// =================================================================================body=============================================
/* roboto-condensed-regular - latin */

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
         url('../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-condensed/roboto-condensed-v17-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }

  /* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Oswald Regular'), local('Oswald-Regular'),
         url('../fonts/oswald-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oswald-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oswald-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oswald-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oswald-v17-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
  }
@font-face{
    font-family: 'AirMillhouseItalic';
    font-style: normal;
    src: url('../fonts/air_mitalic.ttf')format('truetype');
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

